<!DOCTYPE html>
<html lang="en">

<body class="mat-typography" [@slideIn]>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="content-card">
        <div class="card">
            <div class="card-header">
                <h1>FORGOT USERNAME OR PASSWORD</h1>
            </div>
            <div class="card-body">
                <p>Please enter your e-mail address, and your credentials will be e-mailed to you:</p>
                <input type="email" placeholder="Your email">
            </div>
        </div>
    </div>
</body>

</html>